node_modules
config.json
data/*.json
data/*.csv
data/analysis/*.json
data/results/*.json
data/*-study/
!data/.gitkeep
!data/analysis/.gitkeep
!data/results/.gitkeep
!data/*anonymized-analysis.json
!data/*summary-statistics.json

# I used npm originally and I don't think there's a point in changing that
# but I want to use pnpm now so....
pnpm-lock.yaml
*.bak
